.slider {
  height: 4px;
  width: 600px;
  background: #ddd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.slider[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.slider__thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background: radial-gradient(#999, #777);
  top: -6px;
  border-radius: 50%;
  cursor: grab;
  z-index: 1;
}

.slider__thumb:focus {
  outline: none;
}

.slider__thumb:active {
  box-shadow: 0px 0px 5px #999;
}

.slider__thumb:hover {
  box-shadow: 0px 0px 5px #999;
}

.slider__label {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
  min-width: 50px;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  color: #666;
  background-color: #fafafa;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.slider__label::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fafafa;
  top: 36px;
}

.slider__step {
  position: absolute;
  background: #999;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  transition: 0.5s;
}

.slider__step:hover {
  box-shadow: 0 0 3px 5px #ccc;
}
